<!-- views/includes/footer.ejs -->
<script
  src="https://static.elfsight.com/platform/platform.js"
  data-use-service-core
  defer
></script>
<div
  class="elfsight-app-e2d02bb6-84a1-4815-b2fe-22e43924c1c1"
  data-elfsight-app-lazy
></div>
<section class="my-3">
  <div class="container">
    <div class="card p-3">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card p-3">
            <h5 class="card-title">HEAD OFFICE (PLANT)</h5>
            <p class="card-text">
              888 Irabagon St. Brgy Anyatam,<br />
              San Ildefonso, Bulacan, 3010<br />
              Philippines<br />
              <i class="fa-solid fa-phone pe-1"></i>(044) 813-9037<br />
              <i class="fa-regular fa-envelope pe-1"></i>info@fareastfuel.com
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card p-3">
            <h5 class="card-title">SATELLITE OFFICE</h5>
            <p class="card-text">
              Room 417, Bldg.1 Moldex Residences,<br />
              Maysan Road, corner E. Miranda St.<br />
              Paso de Blas, Valenzuela City, 1442<br />
              Philippines<br />
              <i class="fa-solid fa-phone pe-1"></i>(02) 5319-5159<br />
              <i class="fa-solid fa-mobile-retro pe-2"></i>Globe:
              0917-630-0971<br />
              <i class="fa-solid fa-mobile-retro pe-2"></i>Sun: 0925-380-0668
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card p-3">
            <h5 class="card-title">SOCIAL MEDIA LINKS</h5>
            <p class="card-text">
              <a href="https://www.facebook.com/profile.php?id=61555818174600">
                <i
                  class="fa-brands fa-square-facebook pe-3"
                  style="font-size: 30px"
                ></i>
              </a>
              <i
                class="fa-brands fa-square-instagram pe-3"
                style="font-size: 30px"
              ></i>
              <i class="fa-brands fa-linkedin pe-3" style="font-size: 30px"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer pb-0 pt-3">
  <div class="container">
    <p>&copy; 2024 Far East Fuel Corporation. All Rights Reserved.</p>
  </div>
</footer>
