<!-- views/sections/about.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5">
            <div class="row pt-3">
                <h3>ABOUT US</h3>
                <div class="col-8 ps-0">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">FAR EAST FUEL CORPORATION</h5>
                            <p class="card-text">
                                is one of the Philippines' environmental waste management provider and industrial fuel supplier. Dedicated to establish a sustainable source of fuel while protecting and conserving our natural resources.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">WE PROTECT</h5>
                            <p class="card-text">
                                the environment by offering comprehensive solutions on collection, transportation, storage, treatment, destruction and/or disposal of both hazardous and non-hazardous waste material from municipal, industrial, healthcare sectors.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">WE CONSERVE</h5>
                            <p class="card-text">
                                natural resources by using customized technology to extract, consume or to convert the energy that we can gain from a material — including waste.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">WE PROVIDE</h5>
                            <p class="card-text">
                                extensive services to fulfill the requirements of each client by applying cost-efficient methodologies using variety of equipments, machines, and vehicles.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">And WE CONTINUE</h5>
                            <p class="card-text">
                                to develop and to deliver energy and solutions the right way—by operating responsibly, executing with excellence, applying safety standards and capturing new opportunities for profitable growth. Together <b>WE SUCCEED</b> by partnering our mission in providing a safe and healthy environment for all.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">COMPANY ROOTS</h5>
                            <p class="card-text">
                                In early 90s, founders of this company started to maximize the utilization of used lubricant oil by reprocessing this material to transform it to an industrial fuel. Rendering oil collection service to machine repair shops and  extending to manufacturing sector and power producing industry. 
                                Registered in Securities and Exchange Commissions in 2000, FAR EAST FUEL CORPORATION  continue to broaden its field of service in the transportation, treatment/reprocessing and recycling of waste oil from      different industries within the nation.
                                After the Philippine Environmental Management Bureau (EMB) became a line bureau with its own offices and independent enforcement authority in 2002, FEFC do its part to comply to the regulations imposed by the    government and became an accredited TSD Facility and Transporter of hazardous and toxic waste. 
                                In 2005, as response to the growing need of waste management solution from different industries, the company added a complete-destruction facility for a wider variety of toxic and hazardous waste.
                                Services of the company was recognized by companies in abroad in the year 2007. After gaining international trust, FEFC had expand its capacity to be more productive in its role in the waste management industry. 
                                In 2011, the company build a machine that is capable of extracting valuable materials while reducing the volume of non-biodegradable materials—particularly rubber and plastics. It is the first machine of its kind that passes DENR-EMB standards in the Philippines.
                                At present, the company is continuing its passion to achieve a more efficient waste-to-energy programs that will be beneficial for the future of our environment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 pe-0">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">OUR MISSION</h5>
                            <p class="card-text">
                                To provide waste management solutions in an efficient and suitable manner, supply products and services to meet the needs of our clients and contribute to the preservation of the environment where we live.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">OUR VISION</h5>
                            <p class="card-text">
                                To become a national choice for environmental services by creating synergistic partnerships to industries and communities with a spirit of competitiveness and a commitment to innovation.
                            </p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">OUR COMMITMENT</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Preserve and protect the environment</li>
                                    <li>Conduct our business in an ethical and professional manner</li>
                                    <li>Empower our people to be committed and proactive</li>
                                    <li>Prioritize safety and quality in our    operations</li>
                                    <li>Innovate and develop our competitive advantages</li>
                                    <li>Think big to go global</li>
                                </ul>                            
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">OUR VALUES</h5>
                            <p class="card-text">
                                Far East Fuel Corporation is a company that hauls and treats hazardous wastes and destroys bad products to prevent intentional or accidental public consumption.
                            </p>
                            <p class="card-text">
                                Far East Fuel Corporations strategic direction is to be a leading and trusted hauling and treatment facility by strengthening its Christian values <b>(iLOAD)</b> through to its Integrated Management System (IMS):                            
                            </p>
                            <p class="card-text">
                                <ul>
                                    <li><b>INTEGRITY</b> - honest and straightforward by doing things right</li>
                                    <li><b>LEADERSHIP</b> - with deep commitment to deliver its agreement to clients</li>
                                    <li><b>OWNERSHIP</b> - accept accountability to meet legal requirements and business needs</li>
                                    <li><b>ACCOUNTABILITY</b> - we are one in delivering our commitment to our clients</li>
                                    <li><b>DEDICATION</b> - aim for total customer satisfaction in all activities that we do </li>
                                </ul>                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
