<!-- views/sections/facilities.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <div class="container mt-5">
    </div>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
