<!-- views/sections/facilities.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5 pt-3">
            <div class="card p-3">
                <h3>FACILITIES</h3>
                <div class="row mb-3">
                    <div class="col-12 col-sm-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 col-lg-6 facilitiesImage">
                                    <img src="/images/thermal_gasifier.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">THERMAL GASIFIER</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 col-lg-6 facilitiesImage">
                                    <img src="/images/oil_distillation.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">OIL/SOLVENT DISTILLATION</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 col-lg-6 facilitiesImage">
                                    <img src="/images/ROTARY.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">ROTARY PYROLYSIS</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="card">
                            <div class="row flex-lg-row">
                                <div class="col-12 col-lg-6 facilitiesImage">
                                    <img src="/images/waste_water.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">WASTE WATER TREATMENT</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
