<!-- views/sections/facilities.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5 pt-3">
            <div class="card p-3">
                <h3>FACILITIES</h3>

            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
