<!-- views/sections/services.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5 px-0 pt-3">
            <div class="card p-3">
                <h3>ACCEPTED WASTES</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card" style="height: 100%;">
                            <ul>
                                <li>ALKALINE CLEANERS</li>
                                <li>AMMONIUM HYDROXIDE</li>
                                <li>BARIUM AND ITS COMPOUNDS</li>
                                <li>CAUSTIC SODA</li>
                                <li>CHEMICALLY FIXED AND POLYMERIZED WASTES</li>
                                <li>CONTAINERS PREVIOUSLY CONTAINING TOXIC CHEMICAL SUBSTANCES</li>
                                <li>GREASE WASTES</li>
                                <li>HALOGENATED ORGANIC SOLVENTS</li>
                                <li>HYDROCHLORIC ACID</li>
                                <li>HYDROFLUORIC ACID</li>
                                <li>INK FORMULATION</li>
                                <li>INORGANIC PIGMENTS</li>
                                <li>LEAD COMPOUNDS</li>
                                <li>LIME SLURRIES</li>
                                <li>MERCURY AND MERCURY COMPOUNDS</li>
                                <li>MIXTURE OF SULFURIC AND HYDROCHLORIC ACID</li>
                                <li>NITRIC ACID</li>
                                <li>NON HALOGENATED ORGANIC SOLVENTS</li>
                                <li>OIL-CONTAMINATED MATERIALS</li>
                                <li>ORGANIC ACID</li>
                                <li>OTHER ACID WASTES</li>
                                <li>OTHER ALKALI WASTES</li>
                                <li>OTHER INORGANIC ACID</li>
                                <li>OTHER MIXED</li>
                                <li>OTHER WASTES WITH INORGANIC CHEMICALS</li>
                                <li>PATHOLOGICAL OR INFECTIOUS WASTES</li>
                                <li>PERSISTENT ORGANIC POLLUTANTS (POPS) WASTES</li>
                                <li>PESTICIDES</li>
                                <li>PHARMACEUTICALS AND DRUGS</li>
                                <li>PHOSPHORIC ACID</li>
                                <li>POTASH</li>
                                <li>RESINOUS MATERIALS</li>
                                <li>SELENIUM AND ITS COMPOUNDS</li>
                                <li>SOLIDIFIED WASTES</li>
                                <li>SOLVENT BASED</li>
                                <li>SULFURIC ACID</li>
                                <li>TALLOW</li>
                                <li>USED INDUSTRIAL OIL INCLUDING SLUDGE</li>
                                <li>VEGETABLE OIL INCLUDING SLUDGE</li>
                                <li>WASTE ELECTRICAL AND ELECTRONIC EQUIPMENT (WEEE)</li>
                                <li>WASTES WITH SPECIFIC HALOGENATED TOXIC ORGANIC CHEMICALS</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
