<!-- views/sections/services.ejs -->

<%- include('../includes/head.ejs') %>

<body>
    <!-- Navigation Bar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- Page Content -->
    <section>
        <div class="container mt-5">
            <div class="col-12"></div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>
    <script>
        // Your JavaScript code goes here
    </script>
    <%- include('../includes/scripts.ejs') %>
</body>
</html>
